.mr-auto{
    margin-right: auto;
}
.ml-auto{
    margin-left: auto;
}
.mt-auto{
    margin-top: auto;
}
.mb-auto{
    margin-bottom: auto;
}
.backGroundColor{
    background-color:#67FBF1 !important;
  }
  .width-fit-content{
    width: fit-content;
  }
  .buttonColor2{
    color: #55BDCA !important;
    background-color: #0B0C10 !important;
  }
  .buttonColor{
    color: #0B0C10 !important;
    background-color: #55BDCA !important;
    
  }
  .headerColor{
    color: #0B0C10 !important;
  }
  .cardsColor{
    background-color: #5DD0B9 !important;
  }
  .divTextColor{
    color: #0B0C10 !important;
  }
  .card-max-width{
    max-width: 500px;
  }
  .cardsColor2{
    background-color: #67FBF1 !important;
  }
  .textColor2{
    color: #C3C3C5 !important;
  }
  .textColor{
    color: #CFEEEC !important;
  }
  .divBackground{
    background-color: #FFF !important;
  }
.float-left{
    float: left;
}
.float-right{
    float: right;
}
.width-half{
    width:50%;
}
.alert-color{
    color: firebrick;
}
.text-28 {
        font-size: 28px !important;
}
.button-font-size{
    font-size: 16px !important;
    padding-top: 6px !important;
    padding-bottom: 6px !important;
    padding-left: 12px !important;
    padding-right: 12px !important;
}
.bold{
    font-weight: bold;
}
.searchForm{
    width: 550px;
}

.searchFormLabel{
    width: 400px;
    margin-top: auto;
    margin-bottom: auto;
    font-size: 20px;
}
@media only screen and (max-width: 600px) {
    .text-28 {
        font-size: 18px !important;
    }
    .searchForm{
        width: 380px;
    }
    .button-font-size{
        font-size: 12px !important;
        padding-top: 4px !important;
        padding-bottom: 4px !important;
        padding-left: 8px !important;
        padding-right: 8px !important;
    }
    .card-max-width{
        max-width: 300px;
      }
    .searchFormLabel{
        width: 275px;
        margin-top: auto;
        margin-bottom: auto;
        font-size: 15px;
    }
}
.pointer-change-cursor:hover{
    cursor: pointer;
}
@media only screen and (max-width: 400px) {
    .text-28 {
        font-size: 12px !important;
    }
    .searchForm{
        width: 270px;
    }
    .button-font-size{
        font-size: 8px !important;
        padding-top: 3px !important;
        padding-bottom: 3px !important;
        padding-left: 6px !important;
        padding-right: 6px !important;
    }
    .card-max-width{
        max-width: 200px;
      }
    .searchFormLabel{
        width: 275px;
        margin-top: auto;
        margin-bottom: auto;
        font-size: 10px;
    }
}